.no-margin{ margin:0;}
.no-padding{ padding:0; }
body{ background-color:#000; color:#fff;}
a:hover{text-decoration:none;}
.cont{ max-width:100vw; overflow-x:hidden;}
header{ margin-top:20px;}
header .call_come strong{ display:block; margin-left:5px; margin-top:-8px; letter-spacing:2px; font-size:14px; font-family: 'Open Sans'; font-weight: bold; font-style: normal;}
header .call_come strong:first-child{ font-size:27px; margin-top:-5px; }
header .call_come strong:last-child::after{ content:" "; display:block; height:1px; background:#feeb18; width:67%; }
header .head_contact p{ margin:0; padding:0; }
header .head_contact p a{ font-family: 'Open Sans'; font-weight: bold; font-style: normal; font-size:0.9em; color:#fff;}
header .head_contact p a i{ margin-right:10px; font-size:14pt; color:#feeb18;}
header .social ul{ list-style: none;}
header .social ul li { display:inline-block;}
header .social ul li a{ margin-left:10px; font-size:17px; color:#fff;}
.menu ul{ list-style:none; margin:0; padding:0;}
.menu ul li{ display:inline-block; margin:40px 2%; text-align: center;}
.menu ul li a{ font-family: 'Open Sans'; font-weight: bold; font-style: normal; color:#fff; font-size:17px;}
.menu ul li .active::after{ content:" "; height:2px; width:90%; display: block; background-color:#feeb18; margin:5px auto;}
.home{ transition:all 2s ease;  min-height: 120vh; width:100vw; background-image: url(../../img/icerik/home_bg.png); background-color:rgba(0,0,0,0); background-blend-mode: multiply; background-repeat: no-repeat; background-position: top; animation-name:bg_position;  animation-duration: 1s; background-size: 100%; border-bottom:65px solid; -webkit-border-image: url(../../img/site/ayrac.png) 100 round; -o-border-image: url(../../img/site/ayrac.png) 100 round; border-image: url(../../img/site/ayrac.png) 100 round; overflow:hidden;}
.about{ margin-top:10vh;}
.about p{ font-family: 'Open Sans Condensed'; font-weight: 200; font-style: normal; color:#ced4da; font-size:11pt; line-height:1.9; letter-spacing:1.40px; }
.about .rocket{ position:absolute; margin-left:-13vw; margin-top:-27px; opacity:0.5;}
.about_burger{ display:flex;}
.burger{ height:100%; align-items:center; align-content:center;  display: flex; flex-wrap: wrap-reverse;}
.burger_img img{ border-radius:100%; overflow:hidden; text-align: center; border:2px solid #ffed00;}
.burger_text { padding-left:28px;}
.burger_text h3{ text-align:left; font-family:'Wide awake'; font-weight: normal; font-style: normal; color:#ffed00;}
.info_burgers{ min-height:110vh;  display:flex; align-items: flex-start;}
.info_content h1{ position: relative; z-index:999; font-family: 'Wide awake'; font-weight: normal; font-style: normal; color:#ffed00; margin-top:20px; }
.info_content p{ position: relative; z-index:999;  font-family: 'Open Sans Condensed'; font-weight: 200; font-style: normal; color:#ced4da; margin-bottom: 30px; }
.info_content{ border:3px solid #ffed00; border-bottom:none; min-height: 55vh; height:auto;  margin:10px auto;}
.layer_bg{ min-height:110vh; position: absolute; z-index:990; background-image: url(../../img/site/burger_bg.png); background-repeat:no-repeat; background-size:100%; margin:0; padding:0; width:100vw; left:0;  background-position: bottom;  }
.alien{ position: absolute; z-index:960; margin-left:-16vw; margin-top:31vh; opacity:0.4;}
.ufo{ position: absolute; margin-left:65vw; margin-top:10vh; z-index:960; opacity:0.4; }
.specials{ margin-top:6vh; margin-bottom:20vh;}
.specials .item{ text-align:center;}
.specials .item img{ padding:10px; border:1px solid #ffed00; border-radius:100%; }
.specials .item p{ font-family: 'Open Sans Condensed'; font-weight: 300; font-style: normal; margin-top:10px;}
.home_footer{ min-height:120vh; margin:0; padding:0;  display:flex; align-items: flex-start; }
.home_footer video{ margin-top:20px;}
.home_footer .layer_bg{ min-height:120vh; background-image: url(../../img/site/home_footerbg.png); }
.durbun{ position: absolute; margin-left: 76vw; margin-top: -1vh; z-index:960; opacity:0.8; }
.footer_item{ padding-top:40px; align-items:center; align-content:center;  display: flex; flex-wrap: wrap-reverse;}
.footer_text{ font-family: 'Open Sans Condensed'; font-weight: 300; font-style: normal; }


 /* about-us css */

.home-about{transition:all 2s ease;  min-height: 185vh; width:100vw; background-image: url(../../img/icerik/about_us_bg.png); background-color:rgba(0,0,0,0); background-blend-mode: multiply; background-repeat: no-repeat; background-position: top; animation-name:bg_position;  animation-duration: 1s; background-size: 100%;overflow:hidden;}

.about-us-left p{font-family: 'Open Sans Condensed';font-weight: 300;font-style: normal; margin-left: 7vw; font-size: 18px; letter-spacing: 1px;}
#about-inner{padding-top: 53vh;}
.ufo-about{position: absolute; margin-left:65vw; margin-top:-25vh; z-index:960; opacity:0.4;}
.about-burger{top: 10vh;}
.about-burger-right{top:-17vh;}
.about-burger-right p{font-family: 'Open Sans Condensed';font-weight: 300; font-size: 18px; font-style: normal;letter-spacing: 1px; text-align: right;margin-right: 3vw;}
.about-moon{background-image: url(../../img/site/about-moon.png);background-repeat: no-repeat;background-size: 100%;width: 100%;height: auto;}
