.no-margin{ margin:0;}
.no-padding{ padding:0; }
body{ background-color:#000; color:#fff;}
a:hover{text-decoration:none;}
.cont{ max-width:100vw; overflow-x:hidden;}
header{ margin-top:20px;}
header .call_come strong{ display:block; margin-left:5px; margin-top:-8px; letter-spacing:2px; font-size:14px; font-family: 'Open Sans'; font-weight: bold; font-style: normal;}
header .call_come strong:first-child{ font-size:27px; margin-top:-5px; }
header .call_come strong:last-child::after{ content:" "; display:block; height:1px; background:#feeb18; width:67%; }
header .head_contact p{ margin:0; padding:0; }
header .head_contact p a{ font-family: 'Open Sans'; font-weight: bold; font-style: normal; font-size:0.9em; color:#fff;}
header .head_contact p a i{ margin-right:10px; font-size:14pt; color:#feeb18;}
header .social ul{ list-style: none;}
header .social ul li { display:inline-block;}
header .social ul li a{ margin-left:10px; font-size:17px; color:#fff;}
.menu ul{ list-style:none; margin:0; padding:0;}
.menu ul li{ display:inline-block; margin:40px 2%; text-align: center;}
.menu ul li a{ font-family: 'Open Sans'; font-weight: bold; font-style: normal; color:#fff; font-size:17px;}
.menu ul li .active::after{ content:" "; height:2px; width:90%; display: block; background-color:#feeb18; margin:5px auto;}
.home{ transition:all 2s ease;  min-height: 120vh; width:100vw; background-image: url(../../img/icerik/home_bg.png); background-color:rgba(0,0,0,0); background-blend-mode: multiply; background-repeat: no-repeat; background-position: top; animation-name:bg_position;  animation-duration: 1s; background-size: 100%; border-bottom:65px solid; -webkit-border-image: url(../../img/site/ayrac.png) 100 round; -o-border-image: url(../../img/site/ayrac.png) 100 round; border-image: url(../../img/site/ayrac.png) 100 round; overflow:hidden;}
.about{ margin-top:10vh;}
.about p{ font-family: 'Open Sans Condensed'; font-weight: 200; font-style: normal; color:#ced4da; font-size:11pt; line-height:1.9; letter-spacing:1.40px; }
.about .rocket{ position:absolute; margin-left:-13vw; margin-top:-27px; opacity:0.5;}
.about_burger{ display:flex;}
.burger{ height:100%; align-items:center; align-content:center;  display: flex; flex-wrap: wrap-reverse;}
.burger_img img{ border-radius:100%; overflow:hidden; text-align: center; border:2px solid #ffed00;}
.burger_text { padding-left:28px;}
.burger_text h3{ text-align:left; font-family:'Wide awake'; font-weight: normal; font-style: normal; color:#ffed00;}
.info_burgers{ min-height:110vh;  display:flex; align-items: flex-start;}
.info_content h1{ position: relative; z-index:999; font-family: 'Wide awake'; font-weight: normal; font-style: normal; color:#ffed00; margin-top:20px; }
.info_content p{ position: relative; z-index:999;  font-family: 'Open Sans Condensed'; font-weight: 200; font-style: normal; color:#ced4da; margin-bottom: 30px; }
.info_content{ border:3px solid #ffed00; border-bottom:none; min-height: 55vh; height:auto;  margin:10px auto;}
.layer_bg{ min-height:110vh; position: absolute; z-index:990; background-image: url(../../img/site/burger_bg.png); background-repeat:no-repeat; background-size:100%; margin:0; padding:0; width:100vw; left:0;  background-position: bottom;  }
.alien{ position: absolute; z-index:960; margin-left:-16vw; margin-top:31vh; opacity:0.4;}
.ufo{ position: absolute; margin-left:65vw; margin-top:10vh; z-index:960; opacity:0.4; }
.specials{ margin-top:6vh; margin-bottom:20vh;}
.specials .item{ text-align:center;}
.specials .item img{ padding:10px; border:1px solid #ffed00; border-radius:100%; }
.specials .item p{ font-family: 'Open Sans Condensed'; font-weight: 300; font-style: normal; margin-top:10px;}
.home_footer{ min-height:120vh; margin:0; padding:0;  display:flex; align-items: flex-start; }
.home_footer video{ margin-top:20px;}
.home_footer .layer_bg{ min-height:120vh; background-image: url(../../img/site/home_footerbg.png); }
.durbun{ position: absolute; margin-left: 76vw; margin-top: -1vh; z-index:960; opacity:0.8; }
.footer_item{ padding-top:40px; align-items:center; align-content:center;  display: flex; flex-wrap: wrap-reverse;}
.footer_text{ font-family: 'Open Sans Condensed'; font-weight: 300; font-style: normal; }
.footer_text{ font-family: 'Open Sans Condensed'; font-weight: 300; font-style: normal; }
.home-about{transition:all 2s ease;  min-height: 185vh; width:100vw; background-image: url(../../img/icerik/about_us_bg.png); background-color:rgba(0,0,0,0); background-blend-mode: multiply; background-repeat: no-repeat; background-position: top; animation-name:bg_position;  animation-duration: 1s; background-size: cover;overflow:hidden;}
.about-us-left p{font-family: 'Open Sans Condensed';font-weight: 300;font-style: normal; margin-left: 7vw; font-size: 18px; letter-spacing: 1px;}
#about-inner{padding-top: 53vh;}
.ufo-about{position: absolute; margin-left:65vw; margin-top:-30vh; z-index:960; opacity:0.4;}
.about-burger{top: 5vh;}
.about-burger-right{top:-20vh;}
.about-burger-right p{font-family:'Open Sans Condensed';font-weight: 300; font-size: 17px; font-style: normal;letter-spacing: 1px; text-align: right; margin-right: 3vw;}
.about-moon{background-image: url(../../img/site/home_footerbg.png);background-repeat: no-repeat;background-size: 100%;width: 100%;    position: relative;height:77vh;background-position: bottom;margin-top: -26vh; }
.product_home{ background-image: url(../../img/site/product_bg.png); background-repeat:no-repeat; background-position: top center; background-size: 100% auto; border-bottom:none !important; }
.login-bg{background-image:url(../../img/site/login-screen.png);background-repeat: no-repeat; width: 100vw; height: 100vh;background-size: 100% 100%;}
.logo-login{position: relative; top: 40px;}
.login-form{top: 45vh;}
.login-form input{width: 270px;border-radius: 9px;box-shadow: none;border: none;padding: 3px;}
.login-form button{width: 125px;border-radius: 9px;box-shadow: none;border: none;background-color: #FDEA18;color: #000;font-family: 'Open Sans';font-weight: 500;font-style: normal; font-size:14px;padding: 4px;}
.login-group{padding: 10px;}
.login-form input::placeholder {color: #000;font-family: 'Open Sans';font-weight: 500;font-style: normal; font-size:13px; padding-left: 10px;}
.register-form{top: 36vh;}
.register-form input{width: 300px;box-shadow: none;border: none;padding: 8px;}
.register-form button{width: 300px;box-shadow: none;border: none;background-color: #FDEA18;color: #000;font-family: 'Open Sans';font-weight: 500;font-style: normal; font-size:16px; padding: 12px;letter-spacing: 1px;}
.register-group{padding: 10px;}
.register-form input::placeholder {color: #000;font-family: 'Open Sans';font-weight: 500;font-style: normal; font-size:13px; padding-left: 10px; padding: 3px;}
.register-form span p{color: #1C1C1B;font-family: 'Open Sans';font-weight: 600;font-style: normal;margin: 0px; font-size:16px;}
.register-form span{font-family: 'Open Sans';font-weight: 300;font-style: normal;font-size: 12px;color: #1C1C1B;}
.register-form input[type="password"] {color:#3BB394;}
input:focus,button:focus {outline: none;}
.image_category{ position: absolute; left:-20vw;}
.title_products *{ display:inline-block; margin-top: -30px;}
.title_products h1{ margin-top:10px; margin-left: 15px; font-family: 'Wide awake'; font-weight: normal; font-style: normal; color:#fff;}
.items_products{ margin-top:20px;}
.items_products .block{ margin-top: 50px;}
.items_products p{ font-size:11pt;  font-family: 'Open Sans Condensed'; font-weight: 300; font-style: normal; margin-top:10px;}
.items_products *{ margin:0; padding:0;}
.items_products h5{font-family: 'Zrnic Rg'; font-weight: normal; font-style: normal;}
.title_price * { display:inline-block; color:#ffed00; }
.title_price .price{ float: right; font-size:16pt; margin-top:-5px; font-family: 'Zrnic Rg'; font-weight: normal; font-size:14.5pt; font-style: normal;}
.home-contact{transition:all 2s ease;  min-height: 100vh; width:100vw; background-image: url(../../img/site/contact_bg.png); background-color:rgba(0,0,0,0.43); background-blend-mode: multiply; background-repeat: no-repeat; background-position: top; animation-name:bg_position;  animation-duration: 1s; background-size: 100% 100%;overflow:hidden;}
.contact-inner {position: relative;top: 5vh;}
.contact-inner span p{color:#FEEA00;font-family: 'Zrnic Rg';font-weight: lighter;font-style: normal;  font-size: 49px;letter-spacing: 2px;}
.contact-inner a{text-decoration: none;color: #fff;}
.contact-info p{padding: 20px;font-size: 16px;font-weight: lighter;font-style: normal;}
.border-yellow{border-right: 1px solid #FEEA00;}
.contact-button{position: relative; top:8vh;}
.contact-button button{width: 180px;border-radius: 13px;padding: 6px; background-color: #FEEA00;border: none;}
.contact-button button a{color: #000;letter-spacing: 2px;}
.contact-button p{font-family: 'Wide awake';font-weight: normal;font-style: normal;color: #FEEA00;padding-top: 45px;font-size: 36px;}



